@import "../_variables";

#menu-primary-menu {
  display: flex;
  list-style: none;
  padding-left: 0;

  a {
    text-decoration: none;
  }

  & > .menu-item {
    padding: 10px 20px;
    position: relative;

    & > .sub-menu {
      display: none;
      list-style: none;
      position: absolute;
      left: 10px;
      top: 45px;
      padding-left: 0;
      border: 1px solid $border;
      width: 140px;

      & > .menu-item {
        background: $background;
        padding: 6px 10px;
        border-top: 1px solid $border;
        display: block;
        word-break: break-all;
        font-size: 16px;

        &:first-child {
          border-top: none;
        }
      }
    }

    &:hover {
      & > .sub-menu {
        display: block;
      }
    }
  }
}

.mobnav {
  li {
    list-style: none;
    padding: 4px 0;
  }

  ul {
    padding-left: 24px;
  }

  &-backdrop {
    display: none;
    background: $black50;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 20;
  }

  &.sidebar {
    background: $white;
    width: 260px;
    position: fixed;
    z-index: 21;
    top: 0;
    bottom: 0;
    right: -260px;
    transition: right .2s ease;

    &.show {
      right: 0;
    }
  }
}